ul.menu {
  border: none;
  list-style: none;
  text-align: left; /* LTR */
}
ul.menu li {
  margin: 0 0 0 0.5em; /* LTR */
}
ul li.expanded {
  list-style-image: url(../../misc/menu-expanded.png);
  list-style-type: circle;
}
ul li.collapsed {
  list-style-image: url(../../misc/menu-collapsed.png); /* LTR */
  list-style-type: disc;
}
ul li.leaf {
  list-style-image: url(../../misc/menu-leaf.png);
  list-style-type: square;
}
li.expanded,
li.collapsed,
li.leaf {
  padding: 0.2em 0.5em 0 0; /* LTR */
  margin: 0;
}
li a.active {
  color: #000;
}
td.menu-disabled {
  background: #ccc;
}
