/*	--------------------------------------------------
	Buttons
	-------------------------------------------------- */

.button,
input.form-submit,
.btn a,
#goxeed_show_extra a {
  background: #42b4e6;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.28);
  -webkit-box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #22A1E0;
  border-top: 1px solid #44BCF9;
  border-bottom: 1px solid #006DA4;
  -webkit-transition: background-color .15s ease-in-out;
  -moz-transition: background-color .15s ease-in-out;
  -o-transition: background-color .15s ease-in-out;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  font-size:15px;
  text-align: center;
  margin-right:10px;
  padding: 6px 20px 8px;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  line-height: 1;
  font-family: MuseoSansRounded700, "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
  position: relative;
  cursor: pointer;
}

/* Disable native buttons on iOS */
input[type=submit].button { -webkit-appearance: none; }

.button.round {
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
}

.button.full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}

.button.left-align {
  text-align: left;
  text-indent: 12px;
}

/* Hovers ---------- */
.button:hover,
.button:focus,
input.form-submit:hover,
input.form-submit:focus,
.btn a:hover, 
.btn a:focus,
#goxeed_show_extra a:hover,
#goxeed_show_extra a:focus { 
  background-color: #5bcafb;
  color: #fff;
  outline:none;
  -webkit-box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.1);
}

/* Sizes ---------- */
.small.button,
input.field-add-more-submit,
.goxeed.btn.admin a,
#goxeed_show_extra a{
  font-size: 11px;
  padding: 5px 10px 5px;
  width: auto;
}

/* Admin buttons */
.goxeed.btn.admin{
  margin-bottom:12px;
  margin-top:6px;
}

.medium.button 			{ font-size: 13px; width: auto; }
.large.button 			{ font-size: 18px; padding: 11px 48px 13px; width: auto; }

/* Nice Sizes ---------- */
.nice.small.button 		{ background-position: 0 -36px; }
.nice.large.button 		{ background-position: 0 -30px; }

/* Colors ---------- */
.blue.button			{ background-color: #00a6fc;  }
.red.button				{ background-color: #e91c21; }
.white.button			{ background-color: #e9e9e9; color: #333; }
.black.button			{ background-color: #141414; }

/* Nice Colors ---------- */
.nice.blue.button		{ border: 1px solid #0593dc;  }
.nice.red.button		{ border: 1px solid #b90b0b;  }
.nice.white.button		{ border: 1px solid #cacaca; text-shadow: none !important; }
.nice.black.button		{ border: 1px solid #000; }

.blue.button:hover, .blue.button:focus		{ background-color: #0192dd; 	}
.red.button:hover, .red.button:focus 		{ background-color: #d01217; 	}
.white.button:hover, .white.button:focus	{ background-color: #dadada; color: #333; }
.black.button:hover, .black.button:focus	{ background-color: #000; }

/* Disabled ---------- */
.button.disabled, .button[disabled] { opacity: 0.6; cursor: default; }
